[Unit]
{{- if .description }}
Description={{ .description }}{{ end }}
 
[Service]
Type=simple
Environment=PORT={{ .port }}
Environment=PS={{ .app }}-{{ .process_name }}
EnvironmentFile=-{{ .home }}/.config/systemd/user/{{ .app }}-{{ .process_name }}.environment
ExecStart={{ .command }}
Restart=always
WorkingDirectory={{ .working_directory }}
StandardOutput=journal

[Install]
WantedBy=multi-user.target
